.pokemon-list {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.pokemon-list h3 {
	margin-top: 1.5rem;
}

.pokemon-item {
 text-align: center;
}

.pokemon-name {
	text-transform: capitalize;
}