.container {
  margin-top: 2rem;
  text-align: center;
}

.pokemon-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.pokemon-list h3 {
  margin-top: 1.5rem;
}

.pokemon-item {
  border: 1px solid;
  padding: 2rem 2.5rem;
  border-radius: 10px;
  text-align: center;
}

.pokemon-list .pokemon-name {
  margin-top: 0.5rem;
  text-transform: capitalize;
}